certifi==2023.7.22
charset-normalizer==3.2.0
exceptiongroup==1.1.2
geographiclib==2.0
idna==3.4
iniconfig==2.0.0
install==1.3.5
jplephem==2.18
numpy==1.25.2
packaging==23.1
Pillow==10.0.0
pluggy==1.2.0
pyproj==3.6.0
pytest==7.4.0
requests==2.31.0
sgp4==2.22
skyfield==1.46
tomli==2.0.1
urllib3==2.0.4
